* {
    font-family: "Avenir Next Cyr", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
}

body {
    background-color: whitesmoke;
}

header {
    font-size: 0.6em;
    top: 0;
}

footer {
    bottom: 0;
}

header, footer {
    width: 100%;
    position: fixed;
    color: white;
    background-color: #000720;
    left: 0;
}

thead h3 {
    margin-top: 11%;
}

tfoot h3 {
    margin-bottom: 11%;
}

table {
    background-color: ghostwhite;
    width: 70%;
    margin: auto;
}

input, canvas {
    width: 100%;
    border: 2px solid #f41c52;
    border-radius: 20px;
}

canvas {
    width: 290px;
    height: 290px;
}

figure img {
    width: 47px;
    height: 55px;
}

figcaption {
    font-size: 0.8em;
}

#credit > img {
    width: 40px;
    height: 40px;
}

#credit > a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.shaded {
    box-shadow: 0 0 20px 1px black;
}

.illuminate:hover, .illuminate:focus {
    box-shadow: 0 0 40px 5px #f41c52;
    
}

.animated:hover, .illuminate:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

hr {
    color: #f41c52;
    width: 95%;
}

input {
    background-color: white;
}