#outputTable {
    border: 1px solid #000720;
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

#outputTable th {
    background-color: #000720;
    color: white;
}

#outputTable * {
    padding: 25px;
}